<!DOCTYPE html>
<html>
<body>
    <nav>
        <a [routerLink]="['/register']">Home</a>
        
    </nav>
    <section>
        <h1>About Us</h1>
        <p id="about"><strong>My Flix</strong> is a new platform created for independent content creators from filmmakers to podcasters. <strong>My Flix</strong> is dedicated
           to linking independent artists directly to their audience as well as a new audience through our extensive network viewers
           from all over the world. Your dollars go directly to these independent artists that make so many sacrifices to entertain
           us all. This platform premieres and showcases the newest and hottest high-quality content from all over the world in one
           spot... right here on <strong>My Flix</strong>.</p>
    </section>
</body>
</html>
