<!DOCTYPE html>
<html>
    <header>
        <h2>
            NDO Filmz Gallery
        </h2>
    </header>
    <body>
        <br>
        <a (click)="goToPlans()" style="cursor: pointer;" class="plans">Plans</a>
        <h1>Welcome {{ this.user.firstname + ' ' + this.user.lastname}}</h1>
        <div class="containerGallery">
            <div>
                <a *ngFor="let video of videos; let i = index" (click)="goToVideoDisplay(video.id)" style="cursor: pointer;" >
                    <figure>
                        <img src="../../assets/thumb.png" alt="movie thumbnail" style="width:60px">
                        <figcaption>{{ video.title }}</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </body>
</html>
