#presentation{
    color: pink;
}

.menu{
    border: solid 7px red;
    padding-bottom: 50px;
    padding-right: 10px;
    /* background-color: lightblue; */
    
}

.nav navbar-nav navbar-right{
    margin-left: 5px;
}

