    <header>
        <h2>
            NDO Filmz Movie Selection
        </h2>
        <h3>
            <a (click)="goToGallery()" style="cursor: pointer;">back to gallery</a>
        </h3>  
    </header>
<body>
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <label>Title: {{ video.title }}</label><br>
            <label>Producer: {{ video.producer }}</label><br>
            <label>Director: {{ video.director }}</label><br>
            <label>Actors: {{ video.actors }}</label><br>
            <label>Description: {{ video.description }}</label>
            <br> 
            <div class=showVideo>
                <video controls width="1000" height="540">
                    <source src= "{{ video.source }}"  type="video/mp4">
                    <!-- <source src="../../assets/gallery/terry1.mp4" type="video/mp4"> -->
                    <!-- <source src="{{ filePath }}" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>
                <!-- <source src="../../assets/MainVidNdo.mp4" type="video/mp4"> -->
        </div>
        </div>
    </div>
</body>
