h2{
    text-align: center;
}

span{
    color:red;
}

label{
    color:blue;
}

.form-group{
    width: 200px;
    margin: 0 auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.container{
    margin: 0 auto;
}

 

