<header>
  <h3>
    Signup here!!...
  </h3>
</header>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-alert [message]="error" *ngIf="error" (close)="onHandleError()" style="color: red"></app-alert>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
           class="form-group"
           id="user-data">
           <h2>Registration</h2>
           <br>
           <div class="registrationMenu">
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  onfocus="this.value=''"
                  id="email"
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email
                  #email="ngModel"><br>
                  <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email! </span>
              </div>
              <br>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  onfocus="this.value=''"
                  id="password"
                  class="form-control"
                  ngModel
                  name="password"
                  required
                  #password="ngModel"><br>
                  <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
              </div>
              <br>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input
                  type="password"
                  onfocus="this.value=''"
                  id="confirmPassword"
                  class="form-control"
                  ngModel
                  name="confirmPassword"
                  required
                  #confirmPassword="ngModel"><br>
                  <span class="help-block" *ngIf="!confirmPassword.valid && confirmPassword.touched">Please confirm your password!</span>
                  <span *ngIf="!passMatch">Your passwords do not match! Please re-enter them.</span>
              </div>
              <br>
              <div class="form-group">
                <label for="firstname">First Name:</label>
                <input
                  type="text"
                  onfocus="this.value=''"
                  id="firstname"
                  class="form-control"
                  ngModel
                  name="firstname"
                  required
                  #firstname="ngModel">
                  <span class="help-block" *ngIf="!firstname.valid && firstname.touched">Please enter your firstname!</span>
              </div>
              <br>
              <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input
                  type="text"
                  onfocus="this.value=''"
                  id="lastname"
                  class="form-control"
                  ngModel
                  name="lastname"
                  required
                  #lastname="ngModel">
                  <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Please enter your lastname!</span>
              </div>
              <br>
              <div class="form-group">
                <label for="birthday">Birthday:</label>
                <input
                  type="text"
                  onfocus="this.value=''"
                  id="birthday"
                  class="form-control"
                  ngModel
                  name="birthday"
                  required
                  #birthday="ngModel">
                <p>Format: mm/dd/yyyy</p>
                  <span class="help-block" *ngIf="!birthday.valid && birthday.touched">Please enter your birthday!</span>
              </div>
              <br>
              <div class="form-group">
                <div class="radio" *ngFor="let gender of genders">
                  <label>
                      <input
                        type="radio"
                        name="gender"
                        ngModel
                        [value]="gender"
                        required>
                        {{ gender }}
                  </label>
                </div>
              </div>
              <br>
              <div class="form-group">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!f.valid">Register
                </button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>




